.buyTogetherContainer {
    margin-bottom: 50px;
}

.buyTogetherTitleContainer {
    text-align: left !important;
}

.buyTogetherTitle {
    color: #0e0f0f;
    font-size: 2rem !important;
    font-weight: 700;
    text-align: left !important;
    margin-left: 32px;
}

.buyTogetherProductContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.productName {
    font-size: large;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

.productPrice {
    font-size: large;
    font-weight: 700;
    margin-bottom: 20px;
}

.productInfo {
    font-size: large;
    margin-bottom: 10px;
}

.productButtonAvailable {
    margin: 10px !important;
}

.productButtonUnavailable {
    background-color: red;
    color: aliceblue;
    margin: 10px !important;
}

.productImage {
    max-width: 300px;
    max-height: 300px;
}

.productImageContainer {
    height: 300px;
}

.totalMessage {
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 20px;
}

.totalValue {
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 40px;
}

.productButtonContainer :global(.vtex-button) {
    margin-right: 5px;
}

.productButtonContainer :global(.vtex-button) {
    margin-right: 5px;
  }

  @media only screen and (max-width: 1024px){

    .buyTogetherProductContainer {
      flex-direction: column;
    }

    .productImageContainer {
        height: 150px;
        min-height: 0px;
      }

      .productImage {
        height: 100%;

      }
}