.label {
    color: #0E0F0F;
    font-weight: 600;
    font-size: 16px;
    text-transform: none;
}

.container {
    border: 2px solid #0E0F0F;
    border-radius: 5px;
    max-height: 40px;
    margin-top: 10px;
}

.container:hover :global(.vtex-button) {
    background-color: #B976B3 !important;
}

@media only screen and (max-width: 1024px) {
    .label {
        display: block;
    }
    .profile {
        display: block;
    }
  }