.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

/*Componente superior da home - Shop / About us */
.flexRowContent--menu-link {
  background-color: #B976B3;
  color: #fff;
}

/*Componente  nav = logo - nav  */
.flexRowContent--main-header {
  background-color: #EDD1DD;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #EDD1DD;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #0e0f0f;
  font-size: 14px;
  font-weight: bold;
}

/* Componente Free shipping/ OneDayDelivery/ PickUpinStore/ Exclusive delas */
.flexRow--deals {
  padding: 24px 32px;
  gap: 32px;
  background-color: #BABABA;
  height: 152px;
  justify-content: space-around;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRow--menu-row {
  background-color: #B976B3;
}

.flexRow--payment-methods {
  background-color: #B976B3;
}

.flexRow--credits {
  background-color: #E591DC;
}