.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}
/*Summuer  */
.container--shelfTitle {
  color: #0e0f0f;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 600;
}

.container--deals .paragraph {
  margin: 0;
  font-weight: bold;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}
/*Texto do inscreva-se */
.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #444443;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #444443;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
/* LINK DO inscreva-se*/
.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #E40DCF;
}

.container--title {
  color: #444443;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #444443;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}
